.the-main{
    width: 700px;
    margin: 0 auto;
}.logo{
    margin: 0 auto;
}.inputs{
    margin: 2rem;
    height: 1rem;
    width: 15rem;
}
.stud{
    margin: 5rem
}
.men{
    margin: 5rem
}
.buttonemp{
    margin: 5rem
}