.maindoc{
    width: 700px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}
.grail{
    
    background-size: cover;
}
.input-fields{
    margin: 2rem;
    width: 5rem;
    height: 1rem;
}
.connections{
    width: 20rem;
    margin: 1rem;
}